*
!.zshrc
!.gitignore
!.config/
!.config/kitty/
!.config/kitty/**
!.config/nixos/
!.config/nixos/**
.config/nixos/hardware-configuration.nix
!.config/nvim/
!.config/nvim/**
!.config/niri/
!.config/niri/**
!.config/hypr/
!.config/hypr/**
